[submodule "third_party/hougeo"]
	path = third_party/hougeo
	url = https://github.com/nyue/hougeo.git
	branch = master
[submodule "third_party/RadeonRays_SDK"]
	path = third_party/RadeonRays_SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/RadeonRays_SDK.git
[submodule "third_party/antlr4"]
	path = third_party/antlr4
	url = https://github.com/antlr/antlr4.git
[submodule "third_party/USD"]
	path = third_party/USD
	url = https://github.com/PixarAnimationStudios/USD.git
[submodule "third_party/cycles"]
	path = third_party/cycles
	url = git://git.blender.org/cycles.git
